table,
th,
td {
	border-collapse: collapse;
	padding: 20px;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

tr {
	border: 1px solid rgb(250, 202, 210);
}

table {
	width: 100%;
}

th {
	background-color: #000;
	color: #fff;
}

tr:nth-child(even) {
	background-color: rgb(250, 202, 210);
}
